table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
a {
    text-decoration: underline;
    color: #8ab4f8;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.container {
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}